#logo{
    width:500px;
    
}

.main-header{
    padding-top: 10px;
    height: 60px;
    border-bottom: 1px solid black;
}
#for{
    display: inline-block;
    margin-left: 100px;
    
    width: 300px;
    margin: 0;
}
.mobile{
    text-align: center;
    position: relative;
    height: 100vh;
   
}
#create{
    position: absolute;
    bottom: 50px;
    margin: auto;
    right: 10%;
}
#graybox{
    margin-top: 50px;
    margin-bottom: 50px;
}
#mtitle{
    padding-top: 80px;
}