#logo{
    width:500px;
    
}

.main-header{
    padding-top: 10px;
    height: 60px;
    border-bottom: 1px solid black;
}
#for{
    display: inline-block;
    margin-left: 100px;
    
    width: 300px;
    margin: 0;
}
.mobile{
    text-align: center;
    position: relative;
    height: 100vh;
   
}
#create{
    position: absolute;
    bottom: 50px;
    margin: auto;
    right: 10%;
}
#graybox{
    margin-top: 50px;
    margin-bottom: 50px;
}
#mtitle{
    padding-top: 80px;
}
.mobile{
width: 100vw;
overflow: auto;
}
.result-template{
    zoom: 0.5;
    margin-bottom: 100px;
}
.index{
    height: 100vh;
    overflow: hidden;
}
#mbtn{
    background-color: #666666;
    padding: 10px;
    border-radius: 3px;
    color: white;
}