.templete6 {
  box-shadow: inset 10px 0px 15px -1px rgba(28, 0, 0, 0.5),
    10px 10px 10px rgba(18, 0, 0, 0.4);
  position: relative;
  width: 400px;
  height: 500px;
  padding: 20px;
  margin: 0px auto 0 auto;
}

.left6 {
  bottom: 20px;
  position: absolute;
  width: 50%;
  float: left;
}

.right6 {
  bottom: 180px;
  position: absolute;
  right: 20px;
  width: 45%;
  text-align: end;
  float: right;
}

.templete6:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/bgi4.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: sepia(40%);
  filter: sepia(40%);
  z-index: -1; /* 배경 이미지를 내용 아래로 이동시킴 */
}

.templete6 p {
  margin: 0px;
}

.title6 {
  position: relative;
  z-index: 100;
  color: blue;
  text-shadow: -3px 0px black, 0px 3px black, 3px 0px black, 0px -3px black;
  font-family: "batang";
  margin-top: 0px;
  text-align: center;
  font-size: 80px;
  margin: 0;
  margin-right: 45px;
}

#t6_content1 {
  top: 100px;
  color: rgb(255, 242, 0);
  font-family: "batang";
  font-size: 16px;
}
#t6_content2 {
  font-family: "batang";
  font-size: 18px;
  color: blue;
}

#t6_content3 {
  color: green;
  font-family: "batang";
  font-size: 18px;
}
#t6_content4 {
  font-size: 18px;

  font-family: "batang";
  color: black;
}
#t6_content5 {
  font-size: 20px;

  font-family: "batang";
  color: #cc00cc;
}
#t6_content6 {
  font-size: 16px;
  font-family: "batang";
  color: rgb(68, 0, 254);
}
#t6_content7 {
  font-size: 18px;
  font-family: "batang";
  color: orangered;
}
#t6_content8 {
  font-family: "batang";
  font-size: 16px;
  color: rgb(0, 208, 255);
}
#t6_content9 {
  font-family: "batang";
  font-size: 14px;
  color: #cc00cc;
}
#t6_content10 {
  font-family: "batang";
  font-size: 32px;
  color: #cc0066;
  margin-bottom: 20px;
}
