@font-face {
  font-family: "batang";
  src: url("../font/BareunBatangOTFPro-3.otf") format("opentype");
}
@font-face {
  font-family: "ghana";
  src: url("../font/Ghanachocolate.otf") format("opentype");
}
@font-face {
  font-family: "sol";
  src: url("../font/솔뫼\ 김대건OTF\ Medium.otf") format("opentype");
}
@font-face {
  font-family: "pado";
  src: url("../font/a파도소리.ttf") format("truetype");
}
@font-face {
  font-family: "news";
  src: url("../font/a대한늬우스L.ttf") format("truetype");
}
@font-face {
  font-family: "gompyo";
  src: url("../font/Gompyo-Bold.otf") format("opentype");
}
@font-face {
  font-family: "titlemy";
  src: url("../font/Pwkstmbo.ttf") format("truetype");
}
@font-face {
  font-family: "titleml";
  src: url("../font/Pwkstmbo.ttf") format("truetype");
}
@font-face {
  font-family: "classic";
  src: url("../font/Cafe24Classictype-v1.1.otf") format("opentype");
}
@font-face {
  font-family: "chosunB";
  src: url("../font/ChosunBg.TTF") format("truetype");
}
#main-title {
  text-align: center;
  font-size: 40px;

  padding-top: 40px;
  display: block;
}
#main-subtitle {
  width: 80%;
  display: block;
  margin: 0 auto 0 auto;
}
.main-left {
  margin: 0;
  height: 600px;
  background-color: #f6f6f6;
  float: left;
  border-radius: 20px;
  margin-top: 40px;
  width: 500px;
  margin-left: 40px;
}
.main-right {
  padding-top: 100px;
  height: 100vh;
  float: right;
  width: 65%;
}
.main-right:after {
  background-color: #ececec;
}
#faceid {
  width: 100px;
  height: 100px;
  display: block;
  padding-top: 50px;
  float: left;
  margin: 0px auto 0 auto;
  margin-left: 20px;
}
.upload {
  color: white;
  overflow: auto;
  font-size: 24px;
  line-height: 50px;
  height: 50px;
  width: 200px;
  float: right;
  margin-top: 50px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #666666;
  cursor: pointer;
}
.camera {
  color: white;
  height: 50px;
  overflow: auto;
  font-size: 24px;
  line-height: 50px;
  margin-top: 10px;
  width: 200px;
  float: right;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #666666;
  cursor: pointer;
}
#upload {
  margin-left: 30px;
  margin-right: 10px;
}
#camera {
  margin-left: 35px;
  margin-right: 10px;
}
.child {
  margin-top: 0;
  margin-right: 50px;
  zoom: -100;
}
.file {
  /*overflow: auto;*/
  margin: 50px auto 0 auto;
  background-color: white;
  border-radius: 20px;
  width: 80%;
  height: 200px;
}

.converbtn {
  background-color: #07bc5d;
  color: white;
  font-size: 32px;
  width: 80%;
  margin: 20px auto 0 auto;
  border-radius: 10px;
  text-align: center;
  margin-top: 30px;
  height: 70px;
  line-height: 70px;
  cursor: pointer;
}
.converbtn-before {
  background-color: #d9d9d9;
  color: white;
  font-size: 32px;
  width: 80%;
  margin: 20px auto 0 auto;
  border-radius: 10px;
  text-align: center;
  margin-top: 30px;
  height: 70px;
  line-height: 70px;
}
.index {
  position: relative;
}
.templete1 {
  box-shadow: inset 10px 0px 15px -1px rgba(28, 0, 0, 0.5),
    10px 10px 10px rgba(18, 0, 0, 0.4);

  position: relative;
  width: 400px;
  height: 500px;
  padding: 20px;
  margin: 0px auto 0 auto;
}

.templete1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/Untitled2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: sepia(50%);
  filter: sepia(50%);
  z-index: -1; /* 배경 이미지를 내용 아래로 이동시킴 */
}
.templete1 p {
  margin: 5px;
}
.title {
  color: red;
  text-shadow: -3px 0px white, 0px 3px white, 3px 0px white, 0px -3px white;
  font-family: "batang";
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 80px;
  margin-right: 45px;
}
.left {
  bottom: 20px;
  position: absolute;
  width: 50%;
  float: left;
}
.right {
  bottom: 50px;
  position: absolute;
  right: 20px;
  width: 40%;
  text-align: end;
  float: right;
}
#t1_content4 {
  font-size: 16px;
  -webkit-text-stroke: 0.5px black;
  font-family: "batang";
  color: yellow;
}
#t1_content5 {
  font-size: 18px;
  -webkit-text-stroke: 0.5px black;
  font-family: "batang";
  color: blue;
}
#t1_content6 {
  font-size: 16px;
  -webkit-text-stroke: 0.5px black;
  font-family: "batang";
  color: #009630;
}
#t1_content7 {
  font-size: 16px;
  -webkit-text-stroke: 1px black;
  font-family: "gompyo";
  color: #fc46aa;
}
#t1_content8 {
  font-family: "batang";
  font-size: 16px;
  -webkit-text-stroke: 0.2px black;
  color: #3ef8ff;
  margin-bottom: 80px;
}
#t1_content1 {
  top: 200px;
  height: 300px;
  -webkit-text-stroke: 1px black;
  color: white;
  font-family: "batang";
  font-size: 24px;
  writing-mode: vertical-lr;
}
#t1_content2 {
  font-family: "batang";
  font-size: 24px;
  text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;

  color: #fff44f;
}
#t1_content3 {
  font-family: "batang";
  font-size: 16px;
  background-color: #fc46aa;
}
