.templete4 {
    box-shadow: inset 10px 0px 15px -1px rgba(28, 0, 0, 0.5), 10px 10px 10px rgba(18, 0, 0, 0.4);
    position: relative;
    width: 400px;
    height: 500px;
    padding: 20px;
    margin: 50px auto 0 auto;

}
.sec1{
    width: 110px;
    height: 230px;
    margin-top: 20px;
    float: inline-start;
    position: absolute;
    left: 0;
    margin-left: 0px;
    margin-right: 0px;
    writing-mode: vertical-rl;
}
.sec2{
    position: absolute;
    bottom: 20px;
    width: 65%;
    margin-top: 250px;
    text-align: end;
}
.sec3{
    writing-mode: vertical-rl;
    width: 100px;
    height: 390px;
    padding-right: 15px;
    padding-top: 150px;
    float: right;
    position: absolute;
    right: 0px;
    top:0px;
    background-color: #07bc5d;
    
}

.templete4:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bgi4.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: sepia(20%);
    filter: sepia(20%);
    z-index: -1; /* 배경 이미지를 내용 아래로 이동시킴 */
   
}

.templete4 p{
    margin: 1px;
}
.title4{
    position: relative;
z-index: 100;
    color: #ff2020;
    text-shadow: -3px 0px white, 0px 3px white, 3px 0px white, 0px -3px white;
    font-family: 'pado';
    margin-top: 0px;
    text-align: center;
    font-size: 80px;
    margin: 0;
}

#t4_content1{
    text-align:left;
    top: 100px;
    color: black;
    font-family: 'chosunB';
    font-size: 28px;
    writing-mode: vertical-rl;
    display: inline-block;
}
#t4_content2{
    font-family: 'chosunB';
    font-size: 28px;
    color: yellow;
    writing-mode: vertical-rl;
    display: inline-block;
}

#t4_content3{
    color: #e9c2e0;
    font-family: 'chosunB';
    font-size: 28px;
    writing-mode: vertical-rl;
    display: inline-block;
}
#t4_content4{
    font-size: 24px;
    text-shadow: 1px 1px 1px black;
    font-family: 'chosunB';
    color: white;
}
#t4_content5{
   
    font-size: 32px;
   background-color: #cc0066;
   display: inline;
    font-family: 'batang';
    color: white;
}
#t4_content6{
   
    font-size: 20px;
    font-family: 'chosunB';
    color: #3ef8ff;
    
}
#t4_content7{
   
    font-size: 32px;
    font-family: 'chosunB';
    color: yellow;
}
#t4_content8{
    text-shadow: 2px 2px 2px black;
    font-family: 'chosunB';
    font-size: 40px;
    color: white;
    writing-mode: vertical-rl;
    display: inline-block;
}
#t4_content9{
    text-shadow: 2px 2px 2px black;
    font-family: 'chosunB';
    font-size: 40px;
    color: white;
    writing-mode: vertical-rl;
    display: inline-block;
    
}
#t2_content10{
    font-family: 'chosunB';
    font-size: 32px;
    color: #cc0066;
    margin-bottom: 20px;
    
}
.barcode{
    position: absolute;
    bottom: 20px;
    right: 20px;
}